<section class="bg-section" id="Aboutme">
  <div class="container-fluid">
    <div class="container">
      <!-- 제목 영역 -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <i class="fa fa-3x fa-link mb-2"></i>
          <h2 class="section-heading fw-bold">ABOUT ME</h2>
          <hr class="primary" />
        </div>
      </div>

      <!-- 내용 영역 -->
      <div class="row text-center mt-4">
        <!-- 이름, 연락처 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="mb-3">
            <i class="fa fa-user fa-2x mb-2"></i>
            <h5 class="fw-bold mb-1">이름</h5>
            <p>김성하</p>
          </div>
          <div>
            <i class="fa fa-phone fa-2x mb-2"></i>
            <h5 class="fw-bold mb-1">연락처</h5>
            <p>010-6582-6258</p>
          </div>
        </div>

        <!-- 생년월일, 이메일 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="mb-3">
            <i class="fa fa-calendar fa-2x mb-2"></i>
            <h5 class="fw-bold mb-1">생년월일</h5>
            <p>00.07.26</p>
          </div>
          <div>
            <i class="fa fa-envelope fa-2x mb-2"></i>
            <h5 class="fw-bold mb-1">이메일</h5>
            <p>hosh2326@naver.com</p>
          </div>
        </div>

        <!-- 위치, 학력 -->
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="mb-3">
            <i class="fa fa-map-marker fa-2x mb-2"></i>
            <h5 class="fw-bold mb-1">위치</h5>
            <p>광주광역시 동구</p>
          </div>
          <div>
            <i class="fa fa-pencil fa-2x mb-2"></i>
            <h5 class="fw-bold mb-1">학력</h5>
            <p>조선대학교<br />(정보통신공학부)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
