<section class="bg-section" id="Career">
  <div class="container text-center">
    <i class="fa fa-3x fa-briefcase mb-3"></i>
    <h2 class="section-heading">Career</h2>
    <hr class="primary" />

    <!-- SunnyFactory -->
    <div class="career-block my-4">
      <span class="badge bg-primary fw-bold px-3 py-2">2023.12 ~</span>
      <h4>SunnyFactory</h4>
      <p class="mt-3">다양한 AI 기반 프로젝트 개발 및 운영</p>
      <ul class="list-unstyled d-inline-block text-start">
        <li>- HTML/CSS 및 JavaScript를 활용한 UI/UX 구현</li>
        <li>- Vue.js 기반 프론트엔드 UI 개발 및 유지보수</li>
        <li>- RESTful API 기반 백엔드 개발 (FastAPI, Flask, Django 활용)</li>
        <li>- MySQL 기반 데이터베이스 설계 및 최적화</li>
        <li>- Docker 환경 내 서비스 컨테이너화 및 운영 자동화</li>
        <li>- AWS EC2 및 NVIDIA Jetson 서버에 AI 모델 배포</li>
        <li>- Google STT API를 활용한 음성 인식 및 자연어 처리 기능 개발</li>
      </ul>
      <hr
        style="
          border: none;
          border-top: 1px solid #ccc;
          width: 60%;
          margin: 20px auto;
        "
      />
    </div>

    <!-- KT AIVLE SCHOOL -->
    <div class="career-block my-4">
      <span class="badge bg-primary fw-bold px-3 py-2">2023.02 ~ 2023.07</span>
      <h4>KT AIVLE SCHOOL 3기 | AI track</h4>
    </div>
  </div>
</section>
