<section class="bg-section" id="Stack">
  <div class="container-fluid">
    <div class="container">
      <!-- 제목 -->
      <div class="row">
        <div class="col-lg-12 text-center">
          <i class="fa fa-3x fa-code mb-2"></i>
          <h2 class="section-heading fw-bold">STACK</h2>
          <hr class="primary" />
        </div>
      </div>

      <div class="content-box text-center">
        <!-- Front-end -->
        <div class="row justify-content-center mb-4">
          <div class="col-12">
            <h3>Front-end</h3>
            <div class="lineblock-stack d-inline-block">HTML/CSS</div>
            <div class="lineblock-stack d-inline-block">JavaScript</div>
            <div class="lineblock-stack d-inline-block">Vue.js</div>
            <div class="lineblock-stack d-inline-block">React</div>
            <div class="lineblock-stack d-inline-block">jQuery</div>
          </div>
        </div>
        <hr
          class="primary"
          style="
            border: none;
            border-top: 1px solid #ccc;
            width: 40%;
            margin: 16px auto;
          "
        />

        <!-- Back-end -->
        <div class="row justify-content-center mb-4">
          <div class="col-12">
            <h3>Back-end</h3>
            <div class="lineblock-stack d-inline-block">Python</div>
            <div class="lineblock-stack d-inline-block">Flask</div>
            <div class="lineblock-stack d-inline-block">FastAPI</div>
            <div class="lineblock-stack d-inline-block">Django</div>
            <div class="lineblock-stack d-inline-block">Node.js</div>
          </div>
        </div>
        <hr
          class="primary"
          style="
            border: none;
            border-top: 1px solid #ccc;
            width: 40%;
            margin: 16px auto;
          "
        />

        <!-- Database -->
        <div class="row justify-content-center mb-4">
          <div class="col-12">
            <h3>Database</h3>
            <div class="lineblock-stack d-inline-block">SQLite</div>
            <div class="lineblock-stack d-inline-block">MySQL</div>
          </div>
        </div>
        <hr
          class="primary"
          style="
            border: none;
            border-top: 1px solid #ccc;
            width: 40%;
            margin: 16px auto;
          "
        />

        <!-- DevOps & Tools -->
        <div class="row justify-content-center">
          <div class="col-12">
            <h3>DevOps & Tools</h3>
            <div class="lineblock-stack d-inline-block">Docker</div>
            <div class="lineblock-stack d-inline-block">AWS</div>
            <div class="lineblock-stack d-inline-block">Git/GitHub</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
